*.meta
*.obj 
*.png
*.mat
*.fbx
hw1/.vs
hw1/Assets/Billiard Balls/
hw1/Build
hw1/Library
hw1/516030910199_ChenNuo_hw1/
hw1/516030910199_ChenNuo_hw1.rar
roll a bal/
# hw3/Assets
hw3/Library
hw3/Temp
hw3/.vs
hw3/obj/
hw3/Assets/LowPoly_Foliage/
hci-model/
hw4/Library/
hw4/Temp/
hw4/.vs/
hw4/Build/
hw4/Assets/Cope! Free Skybox Pack
hw4/obj/
hw4/Assets/Packages/gp2019-hw4-init.unitypackage
hw4/Assets/Fantasy Skybox FREE/
hw4/Assets/FreeCharacter/
hw4/Assets/GE Common Assets/
hw4/Assets/Low_Poly_Mini_Village/
hw4/Assets/models
hw5/Library/
hw5/Logs/
hw5/obj/
hw5/ProjectSettings/

lab2/.vs/

